USE [Supershop]
GO
/****** Object:  Table [dbo].[InfoTable]    Script Date: 5/14/2024 5:01:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoTable](
	[id] [int] NOT NULL,
	[UserID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](30) NULL,
	[Phone] [int] NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
	[Date Of Birth] [date] NULL,
 CONSTRAINT [PK_InfoTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoginTable]    Script Date: 5/14/2024 5:01:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoginTable](
	[ID] [int] IDENTITY(101,1) NOT NULL,
	[Username] [varchar](30) NULL,
	[Password] [varchar](20) NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_LoginTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductTable]    Script Date: 5/14/2024 5:01:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTable](
	[id] [nvarchar](20) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[category] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RecordTable]    Script Date: 5/14/2024 5:01:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordTable](
	[Bill_ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](30) NOT NULL,
	[CustomerPhoneNo] [int] NOT NULL,
	[SellerName] [nvarchar](20) NOT NULL,
	[Time] [datetime] NOT NULL,
	[TotalBill] [float] NULL,
 CONSTRAINT [PK_Record] PRIMARY KEY CLUSTERED 
(
	[Bill_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[InfoTable] ([id], [UserID], [Name], [Email], [Phone], [Role], [Date Of Birth]) VALUES (1, N'e-101', N'sifat', N'sifat@gmail.com', 9654, N'employee', CAST(N'2001-05-15' AS Date))
INSERT [dbo].[InfoTable] ([id], [UserID], [Name], [Email], [Phone], [Role], [Date Of Birth]) VALUES (2, N'm-101', N'bishal pal', N'bishal12@gmail.com', 54541564, N'manager', CAST(N'2001-01-05' AS Date))
INSERT [dbo].[InfoTable] ([id], [UserID], [Name], [Email], [Phone], [Role], [Date Of Birth]) VALUES (3, N'm-102', N'jadid', N'jadid@gmail.com', 7884, N'manager', CAST(N'2001-10-09' AS Date))
SET IDENTITY_INSERT [dbo].[LoginTable] ON 

INSERT [dbo].[LoginTable] ([ID], [Username], [Password], [UserId]) VALUES (101, N'bishal101', N'1234', 2)
INSERT [dbo].[LoginTable] ([ID], [Username], [Password], [UserId]) VALUES (102, N'sifat201', N'123', 1)
INSERT [dbo].[LoginTable] ([ID], [Username], [Password], [UserId]) VALUES (103, N'jadid102', N'123', 3)
SET IDENTITY_INSERT [dbo].[LoginTable] OFF
INSERT [dbo].[ProductTable] ([id], [name], [price], [quantity], [date], [category]) VALUES (N'p-101', N'detos', 20, 0, CAST(N'2024-04-05 08:36:12.000' AS DateTime), N'snacks')
INSERT [dbo].[ProductTable] ([id], [name], [price], [quantity], [date], [category]) VALUES (N'p-102', N'sprite', 25, 30, CAST(N'2024-03-12 09:25:36.000' AS DateTime), N'soft drinks')
INSERT [dbo].[ProductTable] ([id], [name], [price], [quantity], [date], [category]) VALUES (N'p-103', N'onion', 60, 42, CAST(N'2024-05-12 14:52:20.000' AS DateTime), N'grocery')
SET IDENTITY_INSERT [dbo].[RecordTable] ON 

INSERT [dbo].[RecordTable] ([Bill_ID], [CustomerName], [CustomerPhoneNo], [SellerName], [Time], [TotalBill]) VALUES (21, N'soumik', 7895, N'sifat201', CAST(N'2024-05-14 04:28:01.000' AS DateTime), 180)
SET IDENTITY_INSERT [dbo].[RecordTable] OFF
ALTER TABLE [dbo].[LoginTable]  WITH CHECK ADD  CONSTRAINT [FK_LoginTable_InfoTable] FOREIGN KEY([UserId])
REFERENCES [dbo].[InfoTable] ([id])
GO
ALTER TABLE [dbo].[LoginTable] CHECK CONSTRAINT [FK_LoginTable_InfoTable]
GO
